#blogRow{
  width: 100%;
  margin: auto;
  }
  
  #blog .blog{
    width: 90%;
  }
  
  #blog .col{
    width: 100%;
    margin: auto;
    position: relative;
    text-align: center;
    cursor: pointer
  }
  
  #blog img {
    width: 100%;
  }