/* list */

ul{
  padding: 0;
  margin: 0;
}
li{
  list-style-type: none ;
  width: 100%;
  cursor: pointer;
  text-align: left;
  margin-top: 3px;
  color: rgb(255, 71, 71);
}

#navbarlist{
position: fixed;
top: 48px;
width: 250px;
height: 100%;
background-color: #fff;
left: -250px;
overflow-y: auto;
transition: 0.5s;
z-index: 99;
}
#navbarlist::-webkit-scrollbar{
  width:1px;
}

.whitebar{
  background: white;
  box-shadow: 0px 5px 5px rgba(185, 185, 185, 0.5);
  z-index: 50;
}

.home{
  color: white;
  background-color: rgb(255, 71, 71) ;
}

.toggle1 {
width: 40px;
height: 40px;
text-align: center;
position: absolute;
top: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

.toggle1 span {
display: inline-block;
width: 70%;
height: 4px;
border-radius:30px ;
background: rgb(0, 0, 0);
position: relative;
}

.toggle1 span::before {
content: '';
width: 100%;
height: 4px;
background: inherit;
border-radius:30px ;
position: absolute;
top: 12px;
left: 0;
}

.toggle1 span::after {
content: '';
width: 100%;
height: 4px;
background: inherit;
border-radius:30px ;
position: absolute;
bottom: 12px;
left: 0;
}



#checkmenu:checked+#navbarlist{
left: 0;
}

#navbarlist li {
padding-top: 15px;
padding-bottom: 15px;
padding-left: 10px;

}
.ulout{
position: absolute;
width: 100%;
height: 100%;

}
.ulin{
display: none;

}
#typegraphy{
padding-left: 10px;
}
.ulinner{
  padding-left: 20px;
}




.submenu{
  width: 15px;
  position: absolute;
  right: 10px;
  
}


li:hover{
  color: white;
  background-color: #ff4747;
}
#ulin1:checked+#typegraphy{
  display: block;
}


/* search */
.searchBtn{
  height: 35px;
  width: 35px;
  background: none;
  border: none;
}

#smSearchBtn{
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;

}

#search{
  height: 40%;
  position: absolute;
  right: 65%;
  display: none;
  border: none;
  outline: none;
}

#searchCBox:checked+#search{
display: block;
}

/* blacklist */

.toggle2 {
  width: 30px;
  height: 30px;
  text-align: center;
  position: absolute;
  top: 5px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  }
  
  .toggle2 span {
  display: inline-block;
  width: 70%;
  height: 2px;
  border-radius:30px ;
  background: rgb(0, 0, 0);
  position: relative;
  }
  
  .toggle2 span::before {
  content: '';
  width: 100%;
  height: 2px;
  background: inherit;
  border-radius:30px ;
  position: absolute;
  top: 8px;
  left: 0;
  }
  
  .toggle2 span::after {
  content: '';
  width: 100%;
  height: 2px;
  background: inherit;
  border-radius:30px ;
  position: absolute;
  bottom: 8px;
  left: 0;
  }
  #blacklist{
    display: none;
    
  }

  #blacklist ul{
    position: absolute;
    right: 10px;
    width: 150px;
    background: #000;
    z-index: 50;
  }
  #blacklist li{
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 40px;
    color: white;
    background: #000;
    border-bottom: 1px dotted rgb(170, 170, 170);
  }
  #blacklist li:hover{
    background: #000;
    color: rgb(255, 71, 71);
  }

  #checkmenu2:checked+#blacklist{
    display: block;
  }

  .dollar ,.phone,#header .socialLogo,.bag{
    display: none;
  }


  

@media (max-width:768px){
  /* list */
  
  #ulin2:checked+#blogStyle{
    display: block;
  }
  #ulin3:checked+#postFormats{
    display: block;
  }
  #ulin4:checked+#headerStyle{
    display: block;
  }
  #ulin5:checked+#footerStyle{
    display: block;
  }
  #ulin6:checked+#sidebarStyle{
    display: block;
  }
}

@media (min-width:768px){

  #checkmenu:checked+#navbarlist{
    left: 50%;
    }
  #navbarlist{
  width: 100%;
  height: 50px;
  top: 80px;
  position: absolute;
  left:50%;
  transform: translateX(-50%);

  overflow: visible;
  }

  .home{
    color: rgb(255, 71, 71);
    background: none;
  }

  .toggle1{
    display: none;
  }

  .ulout{
  width: 600px;
  float: left;
  left: 50%;
  display: flex;
  transform: translateX(-50%);
  }
  li{
  margin: 10px;
  color: black;
  background: #fff;
  } 

  .ulin{
    position: absolute;
    left: 75px;
    top: 50px;
  }
  .ulinner{
    left: 150px;
  }

  .ulin li{
    width: 150px;
    height: 20px;
    padding: 0;
    margin: 0;
    font-size: 10px;
  }

  .submenu{
    width: 10px;
    position: absolute;
  }
  .pagemenu{
    left: 150px;
  }

  #blogStyle{
    top: 60px;
  }
  #postFormats{
    top: 90px;
  }
  #headerStyle{
    top: 120px;
  }
  #footerStyle{
    top:150px;
  }
  #sidebarStyle{
    top: 180px;
  }

  li:hover{
    color: rgb(255, 71, 71);
    background: #fff;
  }

  
  #pageout:hover #typegraphy{
    display: block;

  }
  #blogout:hover #blogStyle{
    display: block;

  }
  #postout:hover #postFormats{
    display: block;

  }
  #headerout:hover #headerStyle{
    display: block;

  }
  #footerout:hover #footerStyle{
    display: block;

  }
  #sidebarout:hover #sidebarStyle{
    display: block;

  }
  
  /* search   */
  #smSearchBtn{
    display: none;
  }

  #search{
    width: 300px;
    padding: 10px;
    display: block;
    height: 100%;
    right: 10px;
    background: #000;
    color: rgb(128, 128, 128);
    border: none;
    border-left: 1px solid rgb(128, 128, 128);
  }

  #mdSearchBtn{
    display: block;
    position: absolute;
    right: 100px;
    color: #fff;
    top: 8px;
    cursor: pointer;
  }

  /* blacklist */
  #blacklist ul{
    width: 200px;
    left: 20px;
    top: 50px;
    z-index: 50;
  }
  #blacklist li{
    margin: 0;

    
  }

  .toggle2{
    left: 10px;
  }

  .toggle2 span{
    background: white;
  }
  
  .dollar{
    display: block;
    height: 100%;
    position: absolute;
    right: 30px;
  }

  #dollarSelect{
    height: 100%;
    background: #000;
    color: #FFF;
    outline: none;
    cursor: pointer;
  }
  
  #dollarSelect option{
    height: 100px;
    cursor: pointer;
  }


  .phone{
    font-size: 12px;
    position: absolute;
    display: flex;
    color: white;
    right: 330px;
    
  }
  .phone p:nth-child(2):hover{
    color: rgb(255, 71, 71);
    cursor: pointer;
  }
  #header .socialLogo{
    display: block;
    position: absolute;
    left: 20px;
    top: 50px;

  }
  #header .socialLogo svg{
    margin: 5px;
    color: rgb(128, 128, 128);
  }

  #header .socialLogo svg:hover{

    color: rgb(255, 71, 71);
    cursor: pointer;
  }
  .bag{
    display: block;
    position: absolute;
    right: 40px;
    top: 30px;
    display: flex;
    align-items: center;
  }
  .bag div{
    margin: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: rgb(255, 71, 71);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .bag svg{
    color: rgb(255, 71, 71);
  }
  .bag svg:hover{
    color: rgb(158, 42, 42);
    cursor: pointer;
  }
}

@media (min-width: 1200px) {
  .lgblackbar{
    width: 1200px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
    
  }
  .lgwhitebar{
    width: 1200px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .bandname{
    left: 100px;
    z-index: 30;
  }
  #header .socialLogo{
    top: 80px;
    left: 10px;
    z-index: 30;
  }
  .bag{
    width: 100px;
    z-index: 30;
    left: 200px;
    bottom: -50px;
  }
  #navbarlist{
    top: 40px;
    z-index: 1;
  }
  
}