#product .row {
  width: 90%;
  margin: auto;
  /* height: 500px; */
  margin-bottom:50px ;
}

#product .col{
  display: flex;
  margin-top: 20px;
  width: 100%;

}

#product .word{
  margin-left: 20px;
  
}
#product .tags{
  display: flex;
  flex-wrap: wrap;
}

#product img{
  width: 100px;
  height: 134px;
}

@media (min-width:768px){
  #product .col{
    float: left;
    width: 33%;
    
  }
  #product .row{
    margin-bottom: 200px;
    
    
  }
  
}
@media (min-width:1200px){
  #product .col{
    display: flex;
    width: 100%;
    
  }
  #product .row{
    width: 33%;
    margin-bottom: 30px;
    
  }

  #product{
    display: flex;
    margin: auto;
    width: 90%;
  }
}